services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: Sparshika
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: stocks
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data: